---
layout: layout.liquid
title: Fiddlesbane Logs
---

<h1>Fiddlesbane Logs</h1>

<p>The Fiddlesbane is an exploratory ship designed for interstellar travel, these are the logs that we've gotten from them regarding their new findings</p>

{%blogPost "Log 7253.5" "/blog1/"%}
{%blogPost "Log 7962.5" "/blog2/"%}

<img alt="pine" src="/images/pine.png" width="50" />